.button {
  background-color: #2563eb;
  border: none;
  border-radius: 0.75rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem 2rem;
  transition: 0.2s;
  font-weight: 500;
  text-decoration: none;
}

.button:hover:not(:disabled) {
  background-color: #1C4ED8;
}

.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.full {
  width: 100%;
  text-align: center;
}
